<style>
    .container main .user {
        width: 50%;
        background-color: aliceblue;
        padding: 50px;
        border-radius: 10px;
    }
</style>

<div class="container">
    <h1 class="h3 text-center text-primary fw-bold">Đăng nhập</h1>
    <main class="than img-fluid">
        <article class="col-9 mx-auto mb-5 user m-auto card shadow">
            <form class="center" name="frmdk">
                <div class="mb-3">
                    <label class="form-label">Tài khoản</label>
                    <em class="text-danger float-end" ng-show="frmdk.username.$invalid">Tên đăng nhập phải lớn hơn 3
                        ký tự   </em>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                        <input required ng-minlength="3" ng-model="u" type="text" class="form-control" name="username"
                            style="background-color: aquamarine;">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Mật khẩu</label>
                    <em class="text-danger float-end" ng-show="frmdk.password.$invalid">Mật khẩu nhập phải lớn hơn 6
                        ký tự</em>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
                        <input required ng-minlength="6" ng-model="p" type="password" name="password"
                            class="form-control" style="background-color: aquamarine;">
                    </div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label">Lưu mật khẩu</label>
                </div>
                <div class="text-center">
                    <button type="button" ng-click="dn()" class="btn btn-dark px-3">Đăng nhập</button><br>
                    <button type="button" class="btn btn-danger px-5 m-2 mt-3"><i class="bi bi-google me-2"></i>Đăng
                        nhập với GOOGLE</button><br>
                    <button type="button" class="btn btn-primary px-5 m-2"><i class="bi bi-facebook me-2"></i>Đăng
                        nhập với Facebook</button>
                </div>
            </form>
        </article>
    </main>
</div>